img {
    width:100%;
    height: auto;
}
body {
    width: 100%;
    color: #333333;
    line-height: 1.4em;
}

a {
    color:#333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.container {
    width:90%;
    margin:0 auto;
    padding-top: 2em;
}


button {
    text-decoration: none;
    border: 0;0em  -webkit-appearance: none;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

button:active {
    outline: none ;
    border: none ;
}
button:focus {outline:0;}
a, a:focus, a:visited, a:hover, a:active {
    outline: none;
    text-decoration: none; }
h2 {
    margin-top: 0.5em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.flex-img {
    width: 40%;
}
.flex-text {
    width: 58%;
}