html {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  padding:0.5em;
  font-size: 2em !important;
}

.nav-link {
  text-align: center;
  font-weight: 400;
}
.nav-tabs {
  padding: 0 !important;
  margin: 2em 0;
}
.nav-item {
  width: 11.11%;
  height:100%;
}


@mixin background-color($color) {
  background-color:  $color !important;
}

.nav-link0 {
  background-color: lightgrey;
}

.nav-link {
  background-color: #f2f2f2;
  color: #333;
}
.nav-link_1.active { @include background-color(#74a2e8); };
.nav-link_2.active  { @include background-color(#fa648e); };
.nav-link_3.active  { @include background-color(#f5b349); };
.nav-link_4.active  { @include background-color(#7ccf53); };
.nav-link_5.active  { @include background-color(#d8d100); };
.nav-link_6.active  { @include background-color(#a13bc6); };
.nav-link_7.active  { @include background-color(#c0dbda); };
.nav-link_8.active  { @include background-color(#25d1b3); };


img{
  max-width: 100% !important;
  height:100%;
}

.main {
  margin: 2em 0;
}

a {
  color:#333 !important;
  &:hover {
    text-decoration: none !important;
  }
}