html {
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  text-align: center;
  padding: 0.5em;
  font-size: 2em !important; }

.nav-link {
  text-align: center;
  font-weight: 400; }

.nav-tabs {
  padding: 0 !important;
  margin: 2em 0; }

.nav-item {
  width: 11.11%;
  height: 100%; }

.nav-link0 {
  background-color: lightgrey; }

.nav-link {
  background-color: #f2f2f2;
  color: #333; }

.nav-link_1.active {
  background-color: #74a2e8 !important; }

.nav-link_2.active {
  background-color: #fa648e !important; }

.nav-link_3.active {
  background-color: #f5b349 !important; }

.nav-link_4.active {
  background-color: #7ccf53 !important; }

.nav-link_5.active {
  background-color: #d8d100 !important; }

.nav-link_6.active {
  background-color: #a13bc6 !important; }

.nav-link_7.active {
  background-color: #c0dbda !important; }

.nav-link_8.active {
  background-color: #25d1b3 !important; }

img {
  max-width: 100% !important;
  height: 100%; }

.main {
  margin: 2em 0; }

a {
  color: #333 !important; }
  a:hover {
    text-decoration: none !important; }
